.first-div
{
    Width: 500px;
     height : 500px;
     Background-color: blue;
     Border-width: 3px;
     Border-color: black;
     Border-radius: 20%;
     Margin: 10px;
     Padding: 5px;
     text-align: center;
}
.normal-para{
    
     color :green;
     Border-width: 3px;
     Border-color: black;
     Border-radius: 20%;
     Margin: 10px;
     Padding: 5px;
     text-align: center;
}
.fav-para{
     color :purple;
     Border-width: 3px;
     Border-color: black;
     Border-radius: 20%;
     Margin: 10px;
     Padding: 5px;
     text-align: center;
}